{% extends "_base.html" %}

{% block page_title %}Signup{% endblock page_title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>
    {% else %}
        <p>Are you have an account? <a href="{% url "login" %}">Login</a></p>
        <form action="" method="POST"> 
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
        </form>
    {% endif %}
    <p>Go <a href="{% url "home" %}">Home</a></p>
{% endblock content %}